<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">Book Shop</a>
        </li>
        <ng-container *ngIf="!isAuthenticated()">
            <li class="nav-item">
                <a class="mx-4 nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="mx-4 nav-link" routerLink="/register">Register</a>
            </li>
        </ng-container>
        <ng-container *ngIf="isAuthenticated()">
            <li class="nav-item">
                <a class="mx-4 nav-link" routerLink="/cart">My Cart</a>
            </li>
            <li class="nav-item">
                <a (click)="logOut()" class="mx-4 nav-link">Logout</a>
            </li>
        </ng-container>
      </ul>
    </div>
  </div>

<router-outlet></router-outlet>